node_modules
.DS_Store
dist
/.idea/*

# we don't want to commit lock files for the integration tests, we want to have a fresh install always
package-lock.json
yarn.lock
pnpm-lock.yaml
*.tgz
.next

# but we DO want to commit lock files for the main project in test-ui folder
!/test-ui/package-lock.json
