# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Recharts integration tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  list_integration_tests:
    name: List Integration Test Directories
    runs-on: ubuntu-latest
    outputs:
      # Output the list of directories as a JSON array string
      directories: ${{ steps.set_matrix.outputs.directories }}
    steps:
      - name: Checkout Integration Tests Repository
        uses: actions/checkout@v4
        with:
          repository: recharts/recharts-integ

      - name: List Integration Test Directories
        id: set_matrix
        # This command finds all integration test directories and formats them as a JSON array.
        # If the workflow is manually triggered, list all directories and run all tests. Some of those are going to fail.
        # If the workflow is triggered by a pull request or push, only list directories that have changed in the PR or commit.
        # We expect the CI to always pass so it only runs a subset of tests that we know should pass.
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            JSON_ARRAY=$(node list.js --json)
          else
            JSON_ARRAY=$(node list.js --ci --json)
          fi
          echo "Generated directory list: $JSON_ARRAY"
          echo "directories=$JSON_ARRAY" >> $GITHUB_OUTPUT

  build-and-test:

    name: ${{ matrix.test_dir }} on node ${{ matrix.node-version }}
    runs-on: ubuntu-latest
    needs: [list_integration_tests]

    strategy:
      fail-fast: false
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [ 22.18.x, 24.x, 25.x ]
        # Dynamically generate the matrix from the JSON output of the previous job
        test_dir: ${{ fromJson(needs.list_integration_tests.outputs.directories) }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Test app and check dependencies
        run: ./run-test.sh ${{ matrix.test_dir }}
